@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Tangerine:wght@400;700&display=swap');

@layer base {
  * {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    background-color: #0f172a;
    color: #f1f5f9;
  }
  
  #root {
    min-height: 100vh;
    background-color: #0f172a;
  }
}

